############
# OS Files #
############
.DS_Store
._*
.Spotlight-V100
.Trashes
Thumbs.db

#####################
# Compiled binaries #
#####################
bin/

################
# All the logs #
################

*.log

################
# Dependencies #
################

vendor/

################
# Test output #
################

coverage.*
